<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImmyBloom</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" href="/Corps.svg">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Courgette&family=Federant&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+NZ+Basic:wght@100..400&family=Quicksand:wght@300..700&family=Sacramento&display=swap');
    </style>
</head>
<body>
    <header>
         <img src="/styles/blog logo.png" alt="immy" class="logo">
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>
                <li><a href="arti.html">Articles</a></li>
                <li><a href="newarti.html">Ecrire un article</a></li>
                <li><a href="about.html">À propos</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="login.html">Se connecter</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="about">
            <div class="contenu">
                <h2>Pourquoi ce blog 🤔???</h2> <br> <br> <br>
                <div class="perso">
                    <img src="/styles/Snapchat-1335810172.jpg" alt="Reine-Immaculée"> <br>
                </div> 
                <div class="intro">
                    <p>Salut à tous, je suis Reine-Immaculée, la créatrice d'ImmyBloom 🌸✨. <br> Je suis passionnée par la technologie, la beauté, la santé et la culture, et j'ai décidé de créer ce blog pour certaines raisons....</p> 
                    <p>Tout d'abord, ce blog me permettra de développer mes compétences en écriture, en programmation et en sécurité.</p>
                    <p>Ensuite, ImmyBloom est né pour partager mes petites réflexions et mes découvertes dans les domaines que j'aime.</p>
                    <p>Enfin, j'espère qu'ImmyBloom vous plaira et vous inspirera à explorer de nouvelles idées et à vous exprimer librement.</p>
                    <p>Actuellement, le blog est toujours en développement et je suis toujours entrain d'apprendre. Lorsque mes compétences me le permettront, vous pourrez également publier vos articles sur ImmyBloom, ainsi nous formerons une belle communauté avec différentes perspectives et idées 😊🌸.</p> <br><br> <br>
                </div>
            </div>
            
        </section>
    </main>
    <footer>
        <p>© 2026 ImmyBloom 🌸. Tous droits réservés.</p>
        <div class="rslinks">
            <a href="https://www.tiktok.com/@immybloom26?_r=1&_t=ZS-94QoeeWWgQW">
                <img src="/styles/LogoTikTok.jpg" alt="Tiktok">
            </a>
            <a href="https://www.instagram.com/immyb_loom/">
                <img src="/styles/logoInsta.jpg" alt="Instagram">
            </a>
        </div>
    </footer>
</body>
</html>